@model DraftEditModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    <title>@ViewBag.Title - Hinata</title>
    <link href="http://fonts.googleapis.com/css?family=Questrial" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/bootstrap.less")
    @Styles.Render("~/Content/hinata.less")
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/vs.min.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hinata", "Index", "Item", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LogonUser")
            </div>
        </div>
    </div>
<div class="container-fluid body-content">
    <form id="mainForm" role="form" method="POST">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ItemType)
        <div class="form-group">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control input-lg", @placeholder = @Html.PlacceHolderFor(m => m.Title) })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.TagInlineString, new { @class = "form-control", @placeholder = @Html.PlacceHolderFor(m => m.TagInlineString) })
            @Html.ValidationMessageFor(m => m.TagInlineString, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <div class="col-md-6 editor-panel-area">
                <div class="panel panel-default">
                    <div class="panel-heading">Markdown</div>
                    <div class="panel-body markdown-editor" style="max-height: 500px; min-height: 500px; padding: 0;">
                        @Html.TextAreaFor(m => m.Body, new {@id = "item-editor", @class = "form-control item-editor", data_url = Url.Action("AutoSave", "Draft")})
                        <div class="text-center">
                            <div class="file">
                                画像を選択してアップロード
                                <input type="file" id="update-file" data-url="@Url.Action("Upload", "Image", new {itemid = Model.Id})"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 hidden-xs" style="padding-left: 0;">
                <div class="panel panel-default">
                    <div class="panel-heading">Preview</div>
                    <div class="panel-body" style="max-height: 500px; min-height: 500px; overflow-y: auto; overflow-x: hidden; padding: 0;">
                        <div id="item-view" class="item-viewer" style="padding: 10px;">
                            @Html.Raw(Model.Html)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-md-9">
                @if (!@Model.IsNewDraft)
                {
                    @Html.TextBoxFor(m => m.Comment, new {@class = "form-control", @placeholder = @Html.PlacceHolderFor(m => m.Comment)})
                    @Html.ValidationMessageFor(m => m.Comment, "", new {@class = "text-danger"})
                }
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.ItemIsPrivate)&nbsp;@Html.DisplayNameFor(m => m.ItemIsPrivate)
                        </label>
                    </div>
                    <button name="Draft" type="button" class="btn btn-default" data-action="@Url.Action("Save")">下書き保存</button>
                    <button name="Submit" type="button" class="btn btn-primary" data-action="@Url.Action("Publish")">投稿する</button>
                </div>
            </div>
        </div>
    </form>
</div>
    <div class="container-fluid body-content">
        <footer>
            <p>&copy; @DateTime.Now.Year - Wabyon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/hinata")
    @Scripts.Render("~/scripts/view/draft/edit")
</body>
</html>
