@model CommentEditModel

<div>
    <p>コメントを投稿する</p>
</div>
@using (Html.BeginForm("SaveComment", "Item", FormMethod.Post, new { autocomplete = "off" }))
{
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#editor-area" data-toggle="tab">編集</a></li>
        <li role="presentation"><a id="aPreview" href="#preview-area" data-toggle="tab">プレビュー</a></li>
    </ul>
    <div class="tab-content">
        <div id="editor-area" class="tab-pane active">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CommentId)
            @Html.HiddenFor(model => model.ItemId)
            @Html.TextAreaFor(model => model.CommentBody, new {@id = "comment-editor", @class = "form-control comment-editor", @placeholder = Html.PlacceHolderFor(model => model.CommentBody)})
        </div>
        <div id="preview-area" class="tab-pane">
            <div id="comment-preview" class="item-viewer">
            </div>
        </div>
    </div>
    <div>
        <div class="pull-right">
            <input type="submit" value="投稿する" class="btn btn-primary"/>
        </div>
        <div class="file">
            <span class="glyphicon glyphicon-picture"></span>&nbsp;画像を選択
            <input type="file" id="update-file" data-url="@Url.Action("Upload","Image")" />
        </div>
    </div>
}
